<h1><%= @user.username %></h1>

<dl>
  <dt>Private</dt>
  <dd><%= @user.private %></dd>

  <dt>Followers</dt>
  <dd> <%= @follower_count =%> </dd> </dd>

  <% if @user.id == @current_user %>

  <% elsif @the_follow_request == nil %>
  <form action="/insert_follow_request"  method="post" > 
    <input type="hidden" id="query_recipient_id" name="query_recipient_id" value="<%= @user.id %>" >
    <input type="hidden" id="query_sender_id" name="query_sender_id" value="<%= @current_user%>" >
    <input type="hidden" id="query_status" name="query_status" value="true" >

    <button> Follow </button>
  </form>
  <% else %>
    <a href="/delete_follow_request/<%= @the_follow_request.id %>"> Unfollow </a>
  <% end %>

  <p> </p>

  <dt> <b> Pending follow requests </b> </dt>

  <p> </p>

  <dt>Following</dt>
  <dd> <%= @following_count =%> </dd>

  <dt>Edit user</dt>
  <dd>
    
    <% if @user.id == @current_user %>    
    <form action="/update_user/<%= @user.id %>" >

      <label for="browser_username">Username</label>
      <input id="browser_username" type="text" name="input_username" placeholder="Enter a username..." value="<%= @user.username %>">

      <label for="private_account">Private?</label>
      <input id="private_account" name="private_account" type="checkbox"
      value="1" /><input name="private_account" type="hidden" value="0" />

      <button>Update user</button>
    </form>
    <% end %>
  
  </dd>
</dl>

 <ul>
      <li>
        <a href="/users/<%= @user.username %>"> Profile </a>
      </li>
      <li>
         <a href="/users/<%= @user.username%>/liked_photos"> Liked Photos </a>
      </li>
      <li>
        <a href="/users/<%= @user.username%>/feed"> Feed </a>
      </li>
      <li>
        <a href="/users/<%= @user.username%>/discover"> Discover </a>
      </li>
  </ul>

<%# UNCOMMENT BOTTOM LINE LATER %>
<h2> Feed (<%= @user.feed.size %>) </h2>

<table border="1">
      <tr>
        <th>
          Image
        </th>
        <th>
          Owner
        </th>
        <th>
          Caption
        </th>
        <th>
          Posted
        </th>
        <th>
          Likes
        </th>
        <th></th>
      </tr>
    <% @user.feed.each do |photo| %>
      <tr>
        <td>
          <img src="<%= photo.image %>" class="img-responsive">
        </td>
        <td>
          <%= User.where({:id => photo.owner_id}).at(0).username %>
        </td>
        <td>
          <%= photo.caption %>
        </td>
        <td>
          <%= photo.created_at %>
        </td>
        <td>
          <%= photo.likes_count %>
        </td>
        <td>
          <a href="/photos/<%= photo.id %>"> Show details </a>
        </td>
      </tr>
  <% end %>
  <table>
